.counter {
  font-weight: bold;
}

.counter--green {
  composes: counter;
  color: rgb(25,200,25);
}

.duck {
  display: block;
  width: 100%;
  margin-top: 1.5rem;
}

.problem-container {
  float: left;
}

.spec-container {
  float: left;
}

.green {
  color: green;
}

.red {
  color: red;
}
